{% extends 'basic.html' %}
{% load static %}
{% block title %}contact
{% endblock title %}
        {% block css %}
 <style>

        :root {
            --primary-color: #010712;
            --secondary-color: #818386;
            --bg-color: #FCFDFD;
            --button-color: #3B3636;
            --h1-color: #3F444C;
        }

        [data-theme="dark"] {
            --primary-color: #FCFDFD;
            --secondary-color: #818386;
            --bg-color: #010712;
            --button-color: #818386;
            --h1-color: #FCFDFD;
        }

        * {
            margin: 0;
            box-sizing: border-box;
            transition: all 0.3s ease-in-out;
        }

        .contact-container {
            padding: 0px;
            display: flex;
            width: 100vw;
            height: 100vh;
            background: var(--bg-color);
        }

        .left-col {
            width: 45vw;
            height: 100%;
            background-image: url("https://images.pexels.com/photos/931018/pexels-photo-931018.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .logo {
            width: 10rem;
            padding: 1.5rem;
        }

        .right-col {
            background: var(--bg-color);
            width: 50vw;
            height: 100vh;
            padding: 5rem 3.5rem;
        }

        h1, label, button, .description {
            font-family: 'Jost', sans-serif;
            font-weight: 400;
            letter-spacing: 0.1rem;
        }

        h1 {
            color: var(--h1-color);
            text-transform: uppercase;
            font-size: 2.5rem;
            letter-spacing: 0.5rem;
            font-weight: 300;
        }

        p {
            color: var(--secondary-color);
            font-size: 0.9rem;
            letter-spacing: 0.01rem;
            width: 40vw;
            margin: 0.25rem 0;
        }

        label, .description {
            color: var(--secondary-color);
            text-transform: uppercase;
            font-size: 0.625rem;
        }

        form {
            width: 31.25rem;
            position: relative;
            margin-top: 2rem;
            padding: 1rem 0;
        }

        input, textarea, label {
            width: 40vw;
            display: block;
        }

        p, placeholder, input, textarea {
            font-family: 'Helvetica Neue', sans-serif;
        }

        input::placeholder, textarea::placeholder {
            color: var(--primary-color);
        }

        input, textarea {
            color: var(--primary-color);
            font-weight: 500;
            background: var(--bg-color);
            border: none;
            border-bottom: 1px solid var(--secondary-color);
            padding: 0.5rem 0;
            margin-bottom: 1rem;
            outline: none;
        }

        textarea {
            resize: none;
        }

        button {
            text-transform: uppercase;
            font-weight: 300;
            background: var(--button-color);
            color: var(--bg-color);
            width: 10rem;
            height: 2.25rem;
            border: none;
            border-radius: 2px;
            outline: none;
            cursor: pointer;
        }

        input:hover, textarea:hover, button:hover {
            opacity: 0.5;
        }

        button:active {
            opacity: 0.8;
        }

        /* Toggle Switch */

        .theme-switch-wrapper {
            display: flex;
            align-items: center;
            text-align: center;
            width: 160px;
            position: absolute;
            top: 0.5rem;
            right: 0;
        }

        .description {
            margin-left: 1.25rem;
        }

        .theme-switch {
            display: inline-block;
            height: 34px;
            position: relative;
            width: 60px;
        }

        .theme-switch input {
            display: none;
        }

        .slider {
            background-color: #ccc;
            bottom: 0;
            cursor: pointer;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: .4s;
        }

        .slider:before {
            background-color: #fff;
            bottom: 0.25rem;
            content: "";
            width: 26px;
            height: 26px;
            left: 0.25rem;
            position: absolute;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: var(--button-color);
        }

        input:checked + .slider:before {
            transform: translateX(26px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        #error, #success-msg {
            width: 40vw;
            margin: 0.125rem 0;
            font-size: 0.75rem;
            text-transform: uppercase;
            font-family: 'Jost';
            color: var(--secondary-color);
        }

        }

        #success-msg {
            transition-delay: 3s;
        }

        @media only screen and (max-width: 950px) {
            .logo {
                width: 8rem;
            }

            h1 {
                font-size: 1.75rem;
            }

            p {
                font-size: 0.7rem;
            }

            input, textarea, button {
                font-size: 0.65rem;
            }

            .description {
                font-size: 0.3rem;
                margin-left: 0.4rem;
            }

            button {
                width: 7rem;
            }

            .theme-switch-wrapper {
                width: 120px;
            }

            .theme-switch {
                height: 28px;
                width: 50px;
            }

            .theme-switch input {
                display: none;
            }

            .slider:before {
                background-color: #fff;
                bottom: 0.25rem;
                content: "";
                width: 20px;
                height: 20px;
                left: 0.25rem;
                position: absolute;
                transition: .4s;
            }

            input:checked + .slider:before {
                transform: translateX(16px);
            }

            .slider.round {
                border-radius: 15px;
            }

            .slider.round:before {
                border-radius: 50%;
            }

        }
    </style>
    {% endblock css %}

{% block body %}
    {#<div class="container">#}
    {#  <div class="row">#}
    {#    <div class="col-md-8 offset-md-2">#}
    {#      <div class="card mt-5">#}
    {#        <div class="card-header">#}
    {#          <h2>Contact Us</h2>#}
    {#        </div>#}
    {#        <div class="card-body">#}
    {#          <form method="POST">#}
    {#            <div class="form-group">#}
    {#              {% csrf_token %}#}
    {#              <label for="name">Name</label>#}
    {#              <input type="text" name="name" class="form-control" id="name">#}
    {#            </div>#}
    {#            <div class="form-group">#}
    {#              <label for="email">Email</label>#}
    {#              <input type="email" name="email" class="form-control" id="email">#}
    {#            </div>#}
    {#            <div class="form-group">#}
    {#              <label for="phone">Phone</label>#}
    {#              <input type="text" name="phone" class="form-control" id="phone">#}
    {#            </div>#}
    {#            <div class="form-group">#}
    {#              <label for="message">Message</label>#}
    {#              <textarea name="message" class="form-control" id="message"></textarea>#}
    {#            </div>#}
    {#            <button type="submit" class="btn btn-primary">Submit</button>#}
    {#          </form>#}
    {#        </div>#}
    {#        <div class="card-footer">#}
    {#          <p>For any further inquiries, you can also contact us via the following:</p>#}
    {#          <ul class="list-inline">#}
    {#            <li class="list-inline-item"><i class="fa fa-phone"></i> +1-555-555-5555</li>#}
    {#            <li class="list-inline-item"><a href="https://twitter.com/lastbooking"><i class="fa fa-twitter"></i> Twitter</a></li>#}
    {#            <li class="list-inline-item"><a href="https://facebook.com/lastbooking"><i class="fa fa-facebook"></i> Facebook</a></li>#}
    {#            <li class="list-inline-item"><a href="https://instagram.com/lastbooking"><i class="fa fa-instagram"></i> Instagram</a></li>#}
    {#          </ul>#}
    {#        </div>#}
    {#      </div>#}
    {#    </div>#}
    {#  </div>#}
    {#</div>#}
    {##}
    <!-- Responsive Contact Page with Dark Mode and Form Validation (vanilla JS).

*Designed & built for desktop and tablets with viewport width >= 720px and in landscape orientation.  -->

    <div class="contact-container" >
        <div class="left-col">
{#                <img class="logo" src="https://www.indonesia.travel/content/dam/indtravelrevamp/en/logo.png"/>#}
                <img style="width: 100%; height: 100%" src="{% static 'images/hiking.jpg' %}">
        </div>
        <div class="right-col">
            <div class="theme-switch-wrapper">
                </label>
            </div>

            <h1>Contact us</h1>
            <p>Planning to visit soon? Get insider tips on where to go, things to do and find best deals for your next
                adventure.</p>

            <form id="contact-form" method="post" >
                {% csrf_token %}

                <label for="name">Full name</label>
                <input type="text" id="name" name="name" placeholder="Your Full Name" required>
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="Your Email Address" required>
                <label for="phone">Phone</label>
                <input type="tel" id="phone" name="phone" placeholder="Your Phone Number" id="phone" required>

                <label for="message">Message</label>
                <textarea rows="3" placeholder="Your Message" id="message" name="message" required></textarea>
                <!--<a href="javascript:void(0)">-->
                <button type="submit" id="submit" name="submit">Submit</button><!--</a>-->

            </form>
            <div id="error"></div>
            <div id="success-msg"></div>
        </div>
    </div>



{% endblock %}